* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --bg-main-color: #0a0a0b;
  --text-main-color: #ffffff;
  --btn-bg-color: #306ad9;
  --btn-bg-color-hover: #4177dc;
  --btn-bg-color-active: #608ce2;
  --icon-color: #babec4;
}

body {
  font-family: "Exo regular";
  color: var(--text-main-color);
  overflow-x: hidden;
  background-color: #0a0a0b;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
/* ------------------ header started ----------------- */
header {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  /* background-color:#306AD9 ; */
  /* border: 1px solid gray */
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.nav__list--item {
  list-style-type: none;
}
.nav__list--item-link {
  text-decoration: none;
  color: var(--text-main-color);
}

.active {
  text-shadow: 0px 0px 32px #346dda;
  color: var(--btn-bg-color-hover);
}
.nav__list--item-link:hover {
  color: var(--icon-color);
}
/* ------------------ header finished ----------------- */

/* ------------------ intro section start ------------------- */
.intro {
  width: 100%;
  height: auto;
}
.intro::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  left: -138px;
  top: -28px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}
.intro::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0px;
  top: 404px;

  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}
.intro__title {
  font-family: "Exo semibold";
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  margin-top: 72px;
}
.intro__subtitle {
  font-family: "Exo semibold";
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  margin-top: 20px;
}
.wrapper {
  text-align: center;
  /* background-color: bisque; */
}
.wrapper span {
  font-family: "Exo regular";
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.intro__car {
  margin-top: 48px;
}
.intro__info {
  width: 406px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  height: 104px;
}
/* left: 1031px; */
.intro__start {
  border: 2px solid #02db8a;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 500;
  margin: 91px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 16px #02db8a);
  cursor: pointer;
}
.intro__start h2 {
  font-size: 14px;
  width: 70px;
  height: 70px;
  border: 2px solid #02db8a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.intro__start:hover h2 {
  filter: drop-shadow(0px 0px 15px #02db8a);
}
/* ------------------ intro section finished ------------------- */

/* ------------------ about section started ------------------- */
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__left {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 480px;
  height: 321px;
}
.about__left-inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 197px;
  width: 100%;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(8px); */
  border-radius: 20px;
  bottom: -50px;
  right: 0;
}
.about__left-inform h3 {
  background: transparent;
}
.about__left-inform p {
  background: transparent;
}
.about__right {
  max-width: 401px;
  width: 100%;
}
.about__right-title {
  max-width: 209px;
  width: 100%;
  margin-bottom: 24px;
  line-height: 140%;
}
.about__right-desc {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  margin-bottom: 49px;
}
.about__right-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  background: #4177dc;
  border-radius: 4px;
  border: none;
  position: absolute;
  width: 149px;
  height: 50px;
}
/* ------------------ about section finished ------------------- */

/* ------------------ popular section started ------------------- */
.popular__container {
  padding: 72px 48px;
  width: 70%;
}
.popular__title {
  margin: 30px auto 64px;
  max-width: 270px;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  color: #f1f2f3;
}

.popular__cards {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.popular__card {
  /* background: #07294c; */
  background: #111213;
  border-radius: 20px;
  padding: 25px 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  width: 268px;
  height: 328px;
}
.popular__card__title {
  font-family: "Exo regular";
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #f1f2f3;
  width: 100%;
}
.popular__card__text {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  width: 100%;
  margin-bottom: 12px;
}
.popular__card__image {
  margin-bottom: 22px;
}
.popular__card__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.popular__card__info__desc {
  display: flex;
  align-items: center;
  margin-right: 5px;
  max-width: 90px;
  width: 100%;
  font-size: 13px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.popular__card__price {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.popular__buscet {
  width: 56px;
  height: 48px;
  background: #4177dc;
  border-radius: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.popular__card::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  left: -70px;
  top: -50px;
  background: rgba(53, 82, 135, 0.5);
  /* background: rgba(27, 209, 17, 0.5); */
  filter: blur(80px);
}
/*  popular section finished */

/*  */
